@charset "utf-8";
/* CSS Document */

/*#login{
	background:ff6600;
	height:1024px;
	width:1280px;

}

#formulario{
	padding-top:40px;
	padding-left:40px;
	border:#CCC
	solid;
	height:200px;
	width:400px;
	margin-top:430px;
	margin-left:390px;
	background:ff6600;	
	}*/
	
	#login{
		background: #306;
	  height:400px;
	  width:600px;
	  
	}
	
	#formulario{
		        margin: 0px auto;
		
	}