@charset "utf-8";
/* CSS Document */
#login{
	background:url(imagenes/fondo-central.png);
	background-repeat:no-repeat;
	height:1024px;
	width:1280px;
	padding-top:300px;
	padding-left:200px;
}
#formulario{
	        
			width:502px;
			height:272px;
			margin: 0px  auto;
            padding-top:1px;
			margin-top:50px;			
}

#nombre{
	    margin-left: 150px;
		margin-top: 90px;
		width: 100px;
		height:50px;		
	}
	
#contraseña{
	        margin-left: 150px;
			margin-top: -5px;	
			width: 100px;
		    height:50px;
			
			
	}
	
#enviar{
	      margin-left: 400px;
		  margin-top: -10px;
	}
#f_contra:hover{
	border: groove;
	border-color: #6FC;
	border-radius: 4px;
}
#f_usuario:hover{
	border: groove;
	border-color: #6FC;
	border-radius: 4px;
}

	
	
body{
   background-color: #FFFFFF;
   background-image: linear-gradient(left top, #11324b, #f4faff 450px);
   width:500px;
   height:200px;
}